@font-face{
    font-family: Atari;
    src: url("../fonts/PressStart2P.ttf");
}

body{
    font-family: Atari;
    color: grey;
    background-color: rgb(50,50,50);
}

#inputbox{
    font-family: Atari;
    border: none;
    color: grey;
    background-color: rgb(50,50,50);
    font-size: 16px;
    margin-top: 10px;
    outline: none;
}

#textbox:focus { 
    border: none;
}

#obraz{
    margin-top: 10px;
    margin-bottom: 10px;
}

#text3{
    margin-top: 10px;   
}
#inputbox{
    margin-top: 10px;
}